/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 1.3235294117647058VW; }
.material-icons.md-24 { font-size: 1.7647058823529411VW; }
.material-icons.md-36 { font-size: 2.6470588235294117VW; }
.material-icons.md-48 { font-size: 3.5294117647058822VW; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

@media screen and (max-width: 850px) {
.material-icons.md-18 { font-size: 2.6; }
.material-icons.md-24 { font-size: 3.4; }
.material-icons.md-36 { font-size: 5.2vw; }
.material-icons.md-48 { font-size: 7vw; }
}
