@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16sp;
}

p, a, li {
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none;
}

h1 {
	font-size: 96sp;
	font-weight: lighter;
	padding-left: 20px;
	padding-right: 20px;
}

h2, input {
	font-size: 60sp;
	font-weight: lighter;
	padding-left: 20px;
	padding-right: 20px;
}

h3 {
	font-size: 48sp;
	padding-left: 20px;
	padding-right: 20px;
}

h4 {
	font-size: 34sp;
	padding-left: 20px;
	padding-right: 20px;
}

button {
	font-family: 'Roboto', sans-serif;
	font-size: 34sp;
	text-transform: uppercase;
}